.container {
    -fx-background-color: #e6e6e6;
}

.menu-container {
    -fx-background-color: #19334d;
}

.cadre-left-menu {
    -fx-background-color: transparent;
}

.top-bar {
    -fx-background-color: #bfbfbf;
}

.menu-logo {
    -fx-background-color: transparent;
    -fx-text-fill: WHITE;
}

.button-menu {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 0px 20px 20px 0px;
}

.button-menu:hover {
    -fx-background-color: #12273b;
}

.search-box {
}

.search-container {
}

.button-image {
}

.button-label {
}

.search-input {
    -fx-background-color: #bfbfbf;
    -fx-border-color: #12273b;
    -fx-border-width: 0px 0px 0px 0px;
    -fx-prompt-text-fill: #bfbfbf;
}

.button-search {
    -fx-background-color: transparent;
    -fx-background-radius: 15%;
}

.button-search:hover {
    -fx-background-color: #12273b;
}

.main-border {
    -fx-background-color: #0c1a27;
}

.app-body {
    -fx-background-color: transparent;
}