.menu-container {
    -fx-background-color: transparent;
}

.menu-row {
    -fx-background-radius: 0px 18px 0px 0px;
    -fx-border-radius: 0px 6px 0px 0px;
    -fx-background-color: rgb(230, 230, 230);
}

.menu-button {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 10;
}